@model Letters.Models.Letter

@{
    ViewBag.Title = "Are you sure?";
}

@using (Html.BeginForm())
{
    @Html.TextAreaFor(m => m.Content, new { @class = "letter-sheet" })
    <br />
    @Html.ActionLink("Go back", "AllLetters", "Home", null, new { @class = "w3-btn w3-hover-green" })
    <button type="submit" class="w3-btn w3-hover-red">Delete</button>
}

