@using Microsoft.AspNet.Identity
@model Letters.Models.LetterAuthorModel

<div class="letter-author-container">
    <div class="container">
        <div style="float: right; display: inline-block" class="w3-margin"><button class="btn btn-primary" onclick="hideAuthorLetter($(this).parents('.showablePart'))"><span class="glyphicon glyphicon-resize-small" /></button></div>
        @if (DateTime.Now.AddDays(-1).CompareTo(Model.Date) < 0 && User.Identity.GetUserId() == Model.AuthorId)
        {
            <div style="float: left; display: inline-block">
                @using (Html.BeginForm("DeleteLetter", "Letters", new { id = Model.LetterId, page = 1 }, FormMethod.Post, new { style = "display: inline-block", @class = "w3-margin" }))
                {
                    <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-remove" /></button>            
                }
                @using (Html.BeginForm("UpdateLetter", "Letters", new { id = Model.LetterId, page = 1 }, FormMethod.Post, new { style = "display: inline-block", @class = "w3-margin" }))
                {
                    <button class="btn btn-warning" type="submit"><span class="glyphicon glyphicon-pencil" /></button> 
                }
                Quick! I changed my mind!
            </div>
        }
        else if (User.Identity.GetUserId() == Model.AuthorId)
        {
            <div style="float: left; display: inline-block" class="w3-margin">Sent :) Can't edit anymore!</div>
        }
    </div>    
    <div>
        <div>
            <div class="container w3-green">
                <h2>Sender</h2>
            </div>
            <div class="form-card w3-card-4">
                <p>
                    Email: @Html.TextBoxFor(m => m.Email, "", new { @class = "w3-input w3-border w3-round-xxlarge input-field", @readonly = "readonly" })
                </p>
            </div>
        </div>
        <div class="w3-card-4 table-for-letter">
            <div>
                @Html.TextAreaFor(m => m.Letter, new { @class = "letter-sheet", @readonly = "readonly" })
            </div>
        </div>
    </div>
</div>


