@model Letters.Models.LetterAuthorModel

<div class="letter-author-container">
    <div class="text-right w3-margin"><button class="btn btn-danger" onclick="hideAuthorLetter($(this).parents('.showablePart'))"><span class="glyphicon glyphicon-resize-small" /></button></div>
    <div>
        <div class="col-lg-4">
            <div class="container w3-green">
                <h2>Sender</h2>
            </div>
            <div class="form-card w3-card-4">
                <p>
                    Email: @Html.TextBoxFor(m => m.Email, "", new { @class = "w3-input w3-border w3-round-xxlarge input-field", @readonly = "readonly" })
                </p>
            </div>
        </div>
        <div class="col-lg-8 w3-card-4 table-for-letter">
            <div>
                @Html.TextAreaFor(m => m.Letter, new { @class = "letter-sheet", @readonly = "readonly" })
            </div>
        </div>
    </div>
</div>


