.main-theme {
    background-color: #95bb85 !important;
    text-align: center !important;
}

textarea.letter-sheet {
    margin: 25px;
    min-width: 200px;
    width: 90%;
    min-height: 400px;
    resize:none;
}

footer {
    margin: 10px;
}

.item-letter {
    display: inline-flex !important;
    padding: 10px;
    min-height: 100px;
    max-width: 400px;
    min-width: 200px;
    margin: 30px;
    overflow:auto;
}

.item-letter:hover {
    box-shadow: none !important;
}

.welcome-text {
    font-family: "Tangerine", serif !important;
}

.item-letter-container {
    display: inline-flex !important;
}

.paging-button:hover {
    text-decoration: none !important;
}

.input-field {
    margin-top: 15px !important;
    margin: auto;
}

.form-card {
    display: inline-block;
    margin: auto;
    margin-bottom: 25px !important;
    border-color: black !important;
    border-radius: 40px !important;
    background-color: rgba(255, 255, 255, 0.25) !important;
}

.table-for-letter {
    text-align:center;
    padding: 20px;
    margin-bottom: 25px !important;
    border-color: black !important;
    border-radius: 40px !important;
    background-color: rgba(255, 255, 255, 0.25) !important;
}

