
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.Hidden("LetterID")
    @Html.TextArea("Content", new { @class = "letter-sheet" })
    <br/>
    <button type="submit" class="w3-btn w3-hover-green">Create</button>
}

