@model Letters.Models.Author

@{
    ViewBag.Title = "Welcome";
}

<h1 class="welcome-text">Write a letter to Santa!</h1>
@Html.ActionLink("New letter", "CreateLetter", null, new { @class = "welcome-text, w3-btn w3-hover-green" })